
@import "color";

.Pokecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // width: 12rem;
  height: 100%;
  // margin: 0 auto;
  // padding: 1rem;
  // margin: 3.5rem 2rem 1rem 2rem;
  background-color: lightblue;
  // border-radius: 10px;
}

.Pokecard img{
  width: 5rem;
  height: 5rem;
  margin-top: 1rem;
  // position: relative;
  // left: 1.5rem;

  // top: -4rem;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 10px;
  padding: 2rem;
}

/* backgrounds */
.App .normal{ 
  background: linear-gradient(lighten($normal, 30), lighten($normal, 20) );
  // background-color: lighten($normal, 30);
}
.App .fire{ 
  background-color: lighten($fire, 30);
}
.App .water{ 
  background-color: lighten($water, 25);
}
.App .grass{ 
  background-color: lighten($grass, 30);
}
.App .electric{ 
  background-color: lighten($electric, 25);
}
.App .ice{ 
  background-color: lighten($ice, 25);
}
.App .fighting{ 
  background-color: lighten($fighting, 40);
}
.App .poison{
  background-color: lighten($poison, 45);
}
.App .ground{ 
  background-color: lighten($ground, 28);
}
.App .flying{ 
  background-color: lighten($flying, 30);
}
.App .psychic{ 
  background-color: lighten($psycic, 28);
}
.App .bug{ 
  background-color: lighten($bug, 43);
}
.App .rock{ 
  background-color: lighten($rock, 35);
}
.App .ghost{ 
  background-color: lighten($ghost, 30);
}
.App .dark{ 
  background-color: lighten($dark, 30);
}
.App .dragon{ 
  background-color: lighten($dragon, 30);
}
.App .steel{ 
  background-color: lighten($steel, 30);
}
.App .fairy { 
  background-color: lighten($fairy, 10);
}
