
@import "color";

.Pokecard-not {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // width: 12rem;
  height: 100%;
  // margin: 0 auto;
  // padding: 1rem;
  // margin: 3.5rem 2rem 1rem 2rem;
  background-color: lightblue;
  // border-radius: 10px;
}

.Pokecard-not img{
  width: auto;
  height: 7rem;
  // margin-top: 1rem;
  // position: relative;
  // left: 1.5rem;

  // top: -4rem;
  // background-color: rgba(255, 255, 255, .4);
  border-radius: 10px;
  padding: 1rem;
  margin: 0 auto;
}

.pokedex {

  & .MuiChip-filled-not {
    background-color: rgba(255, 255,255, 0.25);
  }
}
/* backgrounds */
// .App .normal{ 
//   background: linear-gradient(lighten($normal, 30), lighten($normal, 10) );
//   // background-color: lighten($normal, 30);
// }
// .App .fire{ 
//   background: linear-gradient(lighten($fire, 30), lighten($fire, 20) );
//   // background-color: lighten($fire, 30);
// }
// .App .water{ 
//   background: linear-gradient(lighten($water, 30), lighten($water, 20) );

//   & .MuiChip-filled {
//     background-color: rgba(0, 0, 0, 0.07);
//   }
//   // background-color: lighten($water, 25);
// }
// .App .grass{ 
//   background: linear-gradient(lighten($grass, 35), lighten($grass, 20) );
//   // background-color: lighten($grass, 30);
// }
// .App .electric{ 
//   background: linear-gradient(lighten($electric, 30), lighten($electric, 10) );

//   & .MuiChip-filled {
//     background-color: rgba(0, 0, 0, 0.07);
//   }
//   // background-color: lighten($electric, 25);
// }
// .App .ice{ 
//   background: linear-gradient(lighten($ice, 30), lighten($ice, 20) );

//   & .MuiChip-filled {
//     background-color: rgba(0, 0, 0, 0.07);
//   }
//   // background-color: lighten($ice, 25);
// }
// .App .fighting{ 
//   background: linear-gradient(lighten($fighting, 30), lighten($fighting, 20) );
//   // background-color: lighten($fighting, 40);
// }
// .App .poison{
//   background: linear-gradient(lighten($poison, 40), lighten($poison, 20) );
//   // background-color: lighten($poison, 45);
// }
// .App .ground{ 
//   background: linear-gradient(lighten($ground, 30), lighten($ground, 10) );
//   // background-color: lighten($ground, 28);
// }
// .App .flying{ 
//   background: linear-gradient(lighten($flying, 30), lighten($flying, 20) );

//   & .MuiChip-filled {
//     background-color: rgba(0, 0, 0, 0.07);
//   }
//   // background-color: lighten($flying, 30);
// }
// .App .psychic{ 
//   background: linear-gradient(lighten($psycic, 30), lighten($psycic, 20) );
//   // background-color: lighten($psycic, 28);
// }
// .App .bug{ 
//   background: linear-gradient(lighten($bug, 35), lighten($bug, 20) );
//   // background-color: lighten($bug, 43);
// }
// .App .rock{ 
//   background: linear-gradient(lighten($rock, 30), lighten($rock, 20) );
//   // background-color: lighten($rock, 35);
// }
// .App .ghost{ 
//   background: linear-gradient(lighten($ghost, 30), lighten($ghost, 20) );
//   // background-color: lighten($ghost, 30);
// }
// .App .dark{ 
//   background: linear-gradient(lighten($dark, 30), lighten($dark, 20) );
//   // background-color: lighten($dark, 30);
// }
// .App .dragon{ 
//   background: linear-gradient(lighten($dragon, 30), lighten($dragon, 20) );
//   // background-color: lighten($dragon, 30);
// }
// .App .steel{ 
//   background: linear-gradient(lighten($steel, 30), lighten($steel, 20) );

//   & .MuiChip-filled {
//     background-color: rgba(0, 0, 0, 0.07);
//   }
//   // background-color: lighten($steel, 30);
// }
// .App .fairy { 
//   background: linear-gradient(lighten($fairy, 30), lighten($fairy, 20) );

//   & .MuiChip-filled {
//     background-color: rgba(0, 0, 0, 0.07);
//   }
//   // background-color: lighten($fairy, 10);
// }
