.Pokemon-img-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  // height: 496px;
  border-radius: 10px;
  border: 1.5px solid #4eba94;
  padding: 35px;

  .imgPrimary{
    height: 75%;
    width: 75%;
    
  }

  .imgAlt {
    height: 100%;
    width: 100%;
  }
}

